<br>
<div *ngIf="filteredList.length == 0">
<div class="hero"></div>
<div class="main">
  <div class="card">
    <div class="card-content">
      <h1>Welcome to My Daily !</h1>
      <p>Let's Start Your Daily Entries , Click on The Button Below to Add a New Entry</p>
    </div>    
  </div>
</div>
</div>

<div *ngIf="filteredList.length > 0">
<mat-card  *ngFor="let item of filteredList;let i = index" style="background-color: azure;padding-top: 10px;">
  <mat-card-header >
<mat-card-title style="color:rgb(192, 7, 192);">My Daily ({{ i+1 }})</mat-card-title>
<mat-card-title style="font-size: medium;">{{ item.place  }}&nbsp;|&nbsp;{{ item.day  }}&nbsp;|&nbsp;{{ item.dateTime | date: 'dd/MM/yyyy' }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions color="primary" style="gap:10px; display: flex;">
    <button mat-fab [extended]="isWide" title="map" (click)="goMap(item)"><mat-icon>map</mat-icon> <span *ngIf="isWide"  alt="map">Map</span></button>
    <button [disabled]="disabled" mat-fab [extended]="isWide" title="share" (click)="share(item)"><mat-icon>share</mat-icon> <span *ngIf ="isWide" alt="share">Share</span></button>
    <button mat-fab [extended]="isWide" title="details" (mouseover)="hover=true" (mouseleave)="hover=false" (click)="seeDetails(item)" #daily>
      <mat-icon  >info</mat-icon> <span *ngIf="isWide" alt="details">Details</span>
    </button>
  </mat-card-actions>
  <hr>
  <mat-divider></mat-divider>
</mat-card>
</div>
<br>

<a mat-fab routerLink='/daily' class="addButton" color="primary"><mat-icon>add</mat-icon></a>
