mat-slider{
    width: 100%;
}

mat-form-field{
    width: 100%;
    justify-content: center;
    padding-top: 10px;
}

mat-slide-toggle{
    padding-bottom: 20px;
}

mat-form-field {
    margin-right: 12px;
  }

  .iframe {
    justify-self: center;
    z-index: 1;
    border-radius: 38px;
    position: relative;
    width: 80%;
    height: 300px;
    top: -16px;
    left: -1px;
    overflow: auto;
    padding: 20px;
  }

  .locationButtons{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
  }

  @media (max-width: 370px) {
    .locationButtons{
      flex-direction: column;
    }
    .actions{
      flex-direction: column;
      gap: 15px;
    }
  }